body{
    overflow: hidden;
  }
  
  .container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: linear-gradient(to right,  #a1c4fd, #c2e9fb); */
    background-image: url(./bgc.jpg);
    
  }
  
  
  
  
  img{
    border-radius: 2%;
  }
  
  .but_cont{
    height: 10%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
  }
  
  
  
  .but:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05);
  }
  .bx{
    /* display: flex;
    flex-direction: column;
    margin-left: 10%;
    box-shadow: 8px 8px 8px #993511, -8px -8px 8px #00633d, 8px -8px 8px #114D99, -8px 8px 8px #114D99; */
  }