.share-box{
    height: 25%;
    width: 5%;
    position: absolute;
    top: 42%;
    left: 60%;
    background: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }