.box{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    height: 50%;
    width: 35%;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    box-shadow: 8px 8px 8px #993511, -8px -8px 8px #00633d, 8px -8px 8px #114D99, -8px 8px 8px #114D99;
  }
  @media (max-width: 768px) {
    .box{
      width: 40%;
      height: 35%;
    }
  }